// color
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #3887FF;

$color-gray1: #999999;
$color-gray2: #717171;
$color-gray3: #262626;
$color-gray4: #1A1A1A;
$color-gray5: #141414;

// font
$font-set: 62.5%; // 1rem = 10px
$font-xm: 1.4rem;  // 14px
$font-s: 1.6rem; // 16px
$font-m: 1.8rem;  // 18px
$font-l: 2rem;  // 20px
$font-xl: 2.2rem;  // 22px
$font-xxl: 2.4rem;  // 24px
$font-list-title: 3rem;  // 30px
$font-huge: 6.4rem;  // 64px
$font-great: 8rem;  // 80px

// font-line-height
$line-height-normal: 1.4;

// font-family
$font-family-default: "Roboto"; 
$font-family-deco: "Raleway", serif;

