@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/* 모든 요소에 대해 박스 모델을 border-box로 설정 */
* {
  box-sizing: border-box;
}

/* 기본 폰트 크기 설정 */
html {
  font-size: 62.5%;
}

/* 모든 요소의 기본 마진과 패딩을 제거 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 요소의 기본 스타일 초기화 */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* 기본 폰트 스타일 초기화 */
body {
  line-height: 1.4;
  font-family: "Roboto";
  background-color: #000000;
}

/* 링크 스타일 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

/* 리스트 스타일 초기화 */
ul, ol {
  list-style: none;
}

/* 이미지 스타일 초기화 */
img {
  max-width: 100%;
  height: auto;
}

/* 테이블 스타일 초기화 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

button:hover {
  cursor: pointer;
  box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.2);
  opacity: 0.95;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

footer {
  background-color: #000000;
  padding: 2.7rem 10rem 10rem;
  color: #717171;
  border-top: 1px solid #2f2f2f;
}
footer div {
  padding-right: 40%;
  line-height: 2;
}
footer div a:hover {
  color: #3887FF;
}

.btn {
  width: auto;
  height: 6.5rem;
  padding: 1.8rem 2.4rem;
  color: #ffffff;
  font-size: 1.8rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #3887FF;
}

.previews__btn--watch {
  width: 33.2rem;
  height: 12.6rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 3rem;
  font-weight: bold;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6, strong, span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text--title__detail {
  color: #999999;
  font-size: 1.8rem;
  font-weight: 400;
}

.text--contents__detail {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
}

.preview__title {
  color: #ffffff;
  font-size: 6.4rem;
  font-weight: 600;
}

.preview__description {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
}

.preview__tag {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  background-color: #000000;
}

.preview {
  width: 100%;
  padding: 10rem;
  display: flex;
  gap: 10.4167vw;
  background-color: #141414;
  position: relative;
}
.preview div {
  position: relative;
  z-index: 2;
}
.preview .preview__contents {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.preview .preview__contents .preview__labelgroup {
  display: flex;
  gap: 1rem;
}
.preview .preview__contents .preview__labelgroup img {
  width: 3rem;
  height: 3rem;
}
.preview .preview__poster {
  width: 30rem;
  flex-shrink: 0;
}
.preview .preview__poster img {
  -o-object-fit: cover;
     object-fit: cover;
}
.preview .preview__poster--bg {
  position: absolute;
  opacity: 0.2;
  z-index: 1;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.preview .preview__poster--bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
}

.details {
  background: #262626;
  border-radius: 0.8rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.details .details__row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.details .details__row .col--list {
  display: flex;
  gap: 1.5rem;
}
.details .details__row .col--list .preview__tag {
  border-color: #717171;
}

.card {
  display: flex;
}
.card > div {
  flex-grow: 1;
}

.card__rating {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: auto;
  height: auto;
  padding: 1.6rem;
  border-radius: 0.8rem;
  background-color: #141414;
}
.card__rating .card__rating--title {
  color: #ffffff;
  font-size: 2rem;
  font-weight: normal;
}
.card__rating .rating {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.card__rating .rating li {
  position: relative;
  font-size: 1.4rem;
}
.card__rating .rating li .fa-star-half {
  color: #3887FF;
  position: absolute;
  top: 0.25rem;
  left: 0;
}
.card__rating .rating li .fa-star {
  color: #3887FF;
}
.card__rating .rating li span {
  color: #ffffff;
  font-size: 1.6rem;
  padding-left: 0.3rem;
}

.card__person {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  padding: 1.6rem;
  border-radius: 0.8rem;
  background-color: #141414;
}

.card__person--img {
  width: 6rem;
  height: 6rem;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 0.8rem;
}
.card__person--img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(0, -13%);
}

.card__person--contents {
  width: auto;
  flex-shrink: 0;
}
.card__person--contents h5 {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: normal;
}
.card__person--contents p {
  color: #999999;
  font-size: 1.8rem;
  text-align: left;
}

.wrap__movie-details .textbox {
  display: block;
  padding: 4.5rem 10rem;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  align-items: center;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next {
  color: #ffffff;
  font-size: 2.2rem;
  width: 56px;
  height: 56px;
  padding: 14px;
  margin-top: 0;
  border-radius: 8px;
  border: 1px solid var(--Black-12, #1F1F1F);
  background: var(--Black-06, #0F0F0F);
  opacity: 0.8;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);
  transition: all 0.2s ease-in; /* 부드러운 애니메이션 추가 */
}
.swiper .swiper-button-prev::after, .swiper .swiper-button-next::after {
  content: none;
}
.swiper .swiper-button-prev .icon, .swiper .swiper-button-next .icon {
  height: 28px;
  width: 28px;
}
.swiper .swiper-button-prev .icon {
  background: url("/asset/img/swiper-button-prev.svg");
}
.swiper .swiper-button-next .icon {
  background: url("/asset/img/swiper-button-next.svg");
}
.swiper .swiper-button-next, .swiper .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 0);
  left: auto;
}
.swiper .swiper-button-prev, .swiper .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 0);
  right: auto;
}/*# sourceMappingURL=main.css.map */