@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
/* 모든 요소에 대해 박스 모델을 border-box로 설정 */
* {
  box-sizing: border-box;
}

/* 기본 폰트 크기 설정 */
html {
  font-size: 62.5%;
}

/* 모든 요소의 기본 마진과 패딩을 제거 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML5 요소의 기본 스타일 초기화 */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* 기본 폰트 스타일 초기화 */
body {
  line-height: 1.4;
  font-family: "Roboto";
}

/* 링크 스타일 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

/* 리스트 스타일 초기화 */
ul, ol {
  list-style: none;
}

/* 이미지 스타일 초기화 */
img {
  max-width: 100%;
  height: auto;
}

/* 테이블 스타일 초기화 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.a11y-hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

nav-bar {
  position: sticky;
  top: 0rem;
  z-index: 1000;
}

.gnb {
  height: 7.4rem;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 9.69rem;
}
.gnb .gnb--logo {
  width: 12.9664rem;
  flex-shrink: 0;
}
.gnb .gnb--logo img {
  width: 100%;
  height: 100%;
}

.gnb--menu {
  display: flex;
  font-size: 1.8rem;
  padding: 4.71rem;
  gap: 3rem;
  flex: 1;
  font-family: "Roboto";
}
.gnb--menu li {
  text-decoration: none;
  color: #999999;
}
.gnb--menu li:hover {
  color: #ffffff;
  transition: all 0.3s;
  cursor: pointer;
}

.gnb--search {
  display: flex;
  align-items: center;
  position: relative;
}

.gnb--search-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.gnb--search-button.hidden {
  display: none;
}

.gnb--search--container {
  display: flex;
  align-items: center;
  width: 0rem;
  background-color: #000000;
  color: #ffffff;
  border-radius: 2.5rem;
  transition: 0.3s ease;
  right: 0;
  overflow: hidden;
}
.gnb--search--container.active {
  width: 36rem;
  padding: 0.5rem 2rem;
  border: 0.1rem solid #ffffff;
}

.gnb--search--input {
  background-color: #000000;
  width: 100%;
  border: 0;
  font-size: 1.8rem;
  color: #ffffff;
  height: 2rem;
  outline: none;
}

.movie-result {
  background-color: #000000;
  padding-top: 6rem;
  padding: 9.69rem;
}

.search-result {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  gap: 1.25rem;
}

.movie-box {
  margin-bottom: 5.31rem;
}
.movie-box .movie-card {
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.movie-box .movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie-box .movie-card img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
  opacity: 0.8;
}
.movie-box .movie-card__title {
  font-size: 1.6rem;
  color: #717171;
  line-height: 2.4rem;
}

.btn {
  background-color: aquamarine;
  width: 3rem;
  height: 3rem;
}

.btn-top {
  width: 8rem;
  height: 8rem;
  border: 0;
  background: 0;
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  z-index: 1000;
}
.btn-top :active {
  opacity: 0.8;
  transition: 0.3s;
}

.btn-viewmore {
  width: 13.9rem;
  height: 3.6rem;
  font-size: 2.2rem;
  line-height: 3.3rem;
  color: #717171;
  background: none;
  border: none;
  cursor: pointer;
}
.btn-viewmore:active {
  opacity: 0.8;
}

.btn-play {
  padding: 1.4rem 2.4rem;
  align-items: center;
  gap: 0.4rem;
  background-color: #3887FF;
  color: #ffffff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
.btn-play:active {
  opacity: 0.8;
  transition: 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text--title__detail {
  color: #999999;
  font-size: 1.8rem;
  font-weight: 400;
}

.text--contents__detail {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 400;
}

.preview__title {
  color: #ffffff;
  font-size: 6.4rem;
  font-weight: 600;
}

.preview__description {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
}

.preview__tag {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  background-color: #000000;
}

.text--search {
  color: #ffffff;
  gap: 2.94rem;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Roboto";
  line-height: 150%;
  margin-bottom: 3rem;
}
.text--search span {
  color: #3887FF;
}