@use '../abstract/variables' as *;
footer{
    background-color: $color-black;
    padding: 2.7rem 15rem 10rem;
    color: $color-gray2;
    border-top: 1px solid $color-gray2-1;
    font-size: $font-xxs;
    div{
        padding-right: 40%;
        line-height: 2;
        a{
          &:hover{
            color: #3887FF;
          }
        }
    }
}