@use '../abstract/variables' as *;

.movie-result {
  background-color: $color-black;
  padding: 4.69rem 9.69rem 9.69rem;
}

.search-result {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  gap: 1.25rem;
}

.movie-box {
  margin-bottom: 5.31rem;

  .movie-card {
    height: 25vw;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: 0.3s;
        opacity: 0.8;
      }
    }
  }

  .movie-card__title {
    font-size: $font-xl;
    color: $color-gray2;
    line-height: 2.4rem;
  }
}
