@use '../abstract/variables' as *;
.btn{
    width: auto;
    height: 6.5rem;
    padding: 1.8rem 2.4rem;
    color: $color-white;
    font-size: $font-m;
    border: none;
    border-radius: .8rem;
    background-color: #3887FF;
}

.previews__btn--watch{
    width: 33.2rem;
    height: 12.6rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    color: $color-black;
    font-size: $font-list-title;
    font-weight: bold;
    background-color: $color-white;
}