.card-section {
  width: 83vw;
  margin: 0 auto 15rem;
}

.card-section__title {
  color: var(--Absolute-White, #FFF);
  font-family: Manrope;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 45px */
  margin: 2.5rem 0;
}

movie-card.swiper-slide {
  padding: 0;
}

