@use '../abstract/variables' as *;
.details{
    background: $color-gray3;
    border-radius: .8rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .details__row{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .col--list{
            display: flex;
            gap: 1.5rem;
            .preview__tag{
                border-color: $color-gray2;
            }
        }
        
    }
}