@use '../abstract/variables' as *;
.movie-card {
  width: 100%;
  max-width: 200px;
}
/* @ */
.movie-card__poster-wrapper {
  position: relative;
}

.movie-card__poster {
  cursor: pointer;
} 
.movie-card__poster--vertical {
  width: 100%;
  aspect-ratio: 2/3;
}
.movie-card__poster--horizontal {
  width: 100%;
  aspect-ratio: 3/2;
  border-radius: 10px;
}
.movie-card__heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 48px;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}
.movie-card__poster-wrapper:hover .movie-card__heart,
.movie-card__heart.liked {
  opacity: 1;
}
.movie-card__poster-wrapper:hover .movie-card__heart {
  opacity: 1;
}

.movie-card__info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.movie-card__title {
  color: #A5A5A5;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 33px */
  /* ban linebreak */
  white-space: nowrap;
  overflow: hidden;         
  text-overflow: ellipsis; 
}

.movie-card__rating {
  color: #A5A5A5;
  text-align: right;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 33px */
}

.movie-card__ranked {
font-family: roboto;
font-weight: 800;
font-style: italic;
font-size: 180px;
line-height: normal;
color: white;
position: absolute;
bottom: 143px;
left: 20px;
transform: translateY(100%);

} 
