.preview{
    width: 100%;
    padding: 10rem;
    display: flex;
    gap: 10.4167vw;
    background-color: $color-gray5;
    position: relative;
    div{
        position: relative;
        z-index: 2;
    }
    .preview__contents{
        display: flex;
        flex-direction: column;
        gap: 2.2rem;
        .preview__labelgroup{
            display: flex;
            gap: 1rem;
            img{
                width: 3rem;
                height: 3rem;
            }
        }
    }
    .preview__poster{
        width: 30rem;
        flex-shrink: 0;
        img{
            object-fit: cover;
        }
    }
    .preview__poster--bg{
        position: absolute;
        opacity: 0.2;
        z-index: 1;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }
}