@use '../abstract/variables' as *;
rating-stars{
  flex-grow: 0;
  width: 12.3rem;
  min-width: 10rem;
  display: flex;
  margin-left: auto;
  justify-content: flex-end; 
}
.stars {
  color: #A5A5A5;
  font-family: Manrope;
  font-size: $font-xl;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 33px */
  img{
    width: 2rem;
  }
} 