@import '../variables'; // 변수 파일 임포트

.text__detail--title{
    color: $color-gray1;
    font-size: $font-m;
    font-weight: 400;
}
.text__detail--contents{
    color: $color-white;
    font-size: $font-l;
    font-weight: 400;
}
.text__previews--title{
    color: $color-white;
    font-size: $font-huge;
    font-weight: 600;
}
.tag__previews{
    display: inline-block;
    padding: 0 1.5rem;
    color: $color-white;
    font-size: $font-s;
    font-weight: 400;
    border: 1px solid $color-white;
    border-radius: .5rem;
    background-color: $color-black;
}


.text__search{
    display: flex;
    flex-direction: column;
    color: $color-white;
    gap: 2.94rem;
    font-size: $font-m;
    font-weight: 700;
    font-family:$font-family-default;
    line-height: 150%;
    
    .text__search--result__val{
        color: $color-primary;
    }
}
