@use '../abstract/variables' as *;
// common
h1,
h2,
h3,
h4,
h5,
h6,
strong,
span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text--title__detail {
  color: $color-gray1;
  font-size: $font-m;
  font-weight: 400;
}
.text--contents__detail {
  color: $color-white;
  font-size: $font-l;
  font-weight: 400;
}
.preview__title {
  color: $color-white;
  font-size: $font-great;
  font-weight: 600;
  white-space: normal;
}
.preview__description {
  color: $color-white;
  font-size: $font-xl;
  font-weight: 400;
  line-height: 1.7;
}
.preview__tag {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  color: $color-white;
  font-size: $font-s;
  font-weight: 400;
  border: 1px solid $color-white;
  border-radius: 0.5rem;
  background-color: $color-black;
}

.text--search {
  color: $color-white;
  gap: 2.94rem;
  font-size: $font-list-title;
  font-weight: 700;
  font-family: $font-family-default;
  line-height: 150%;
  margin-bottom: 3rem;

  span {
    color: $color-primary;
  }
}
.textbox{
  p{
    color: $color-gray1;
    font-size: $font-xxl;
  }
}