@use '../abstract/variables' as *;
/* 모든 요소에 대해 박스 모델을 border-box로 설정 */
* {
    box-sizing: border-box; // 패딩과 보더를 포함한 요소의 너비와 높이를 설정
}

/* 기본 폰트 크기 설정 */
html {
    font-size: $font-set; // 62.5%; // 1rem = 10px 설정
}

/* 모든 요소의 기본 마진과 패딩을 제거 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0; // 모든 요소의 기본 마진 제거
    padding: 0; // 모든 요소의 기본 패딩 제거
    box-sizing: border-box; // 요소의 너비와 높이에 패딩과 보더를 포함
}

/* HTML5 요소의 기본 스타일 초기화 */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block; // HTML5 요소를 블록 요소로 설정
}

/* 기본 폰트 스타일 초기화 */
body {
    line-height: $line-height-normal; // 줄 높이를 설정
    font-family: $font-family-default; // 기본 폰트 설정
    background-color: $color-black; //  배경색 검정으로 설정
}

/* 링크 스타일 초기화 */
a {
    text-decoration: none; // 링크의 밑줄 제거
    color: inherit; // 링크 색상을 부모 요소와 동일하게 설정
}

/* 리스트 스타일 초기화 */
ul, ol {
    list-style: none; // 리스트의 기본 스타일 제거
}

/* 이미지 스타일 초기화 */
img {
    max-width: 100%; // 이미지의 최대 너비를 부모 요소에 맞춤
    height: auto; // 이미지의 높이를 자동으로 조정
}

/* 테이블 스타일 초기화 */
table {
    border-collapse: collapse; // 테이블의 경계선 합치기
    border-spacing: 0; // 테이블 셀 간의 간격 제거
    width: 100%; // 테이블 너비를 100%로 설정
}

button{
    &:hover{
        cursor: pointer;
        box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.2);
        opacity: .95;
    }
}